.formu-ti {
  color: #777;
}

.dos-columnas {
  margin-top: 50px;
  width: 100%;
}

.caja-1,
.caja-2 {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  color: #555;
}

.caja-1,
.contratar-a {
  height: 40px;
  width: 100%;
}

.caja-2 {
  height: 100px;
  width: 100%;
}

.contratar-a {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #2ba7c3;
  background-color: #2ba7c3;
  font-size: 16px;
  font-weight: bold;
  font-family: rale;
  text-transform: uppercase;
  color: #ddd;
}

.contratar-a:hover {
  font-weight: bold;
  font-family: rale;
  color: #000;
  opacity: 0.6;
  border: 1px solid #40808f;
}

.datos {
  color: #999;
}

.datos-contacto {
  list-style: none;
  text-align: center;
}

.datos-contacto li {
  color: #444;
  padding-bottom: 5px;
  font-size: 14px;
  font-family: rale;
}

.datos-contacto li i {
  color: #2ba7c3;
  font-size: 45px;
  padding-top: 15px;
}

footer {
  clear: both;
  margin-top: 50px;
  background: #000;
  color: #2ba7c3;
  font-size: 12px;
  font-family: rale;
  text-align: center;
  padding: 30px;
}

.limpia {
  clear: both;
}

.lbl-suscribe {
  font-family: rale;
  font-weight: bold;
  text-transform: uppercase;
}

.caja-suscribe {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 1px;
  padding: 10px;
  font-size: 16px;
  color: #555;
}

.btn-suscribe {
  font-family: rale;
  background: rgb(37, 185, 185);
  padding: 10px 10px;
  border-radius: 4px;
  cursor: pointer;
}
