.dos-columnas {
  margin-top: 50px;
}

.formulario {
  margin: auto;
  background-color: tomato;
  width: 50%;
  float: left;
}

.datos {
  float: left;
  width: 25%;
  margin: auto;
  color: #999;
  background-color: rgb(85, 175, 175);
}

.caja-1 {
  width: 250px;
  height: 40px;
}

.caja-2 {
  width: 545px;
  height: 100px;
}

.caja-1,
.caja-2 {
  margin: 20px 20px;
  padding: 10px;
  font-size: 14px;
  font-family: rale;
  color: #444;
}

.contratar-a {
  width: 545px;
  margin: 20px 20px;
  padding: 10px;
  border: 1px solid #85c34a;
  background-color: #85c34a;
  font-size: 14px;
  font-weight: bold;
  font-family: rale;
  text-transform: uppercase;
  color: #fff;
}

.contratar-a:hover {
  opacity: 0.6;
  color: #000;
  border: 1px solid #456427;
}
/*
.correr {
  margin: 20px 20px;
  padding: 10px;
}*/

.formu-ti {
  margin: 0px 20px;
  color: #444;
}

.datos-contacto {
  list-style: none;
  text-align: center;
}

.datos-contacto li {
  color: #444;
  padding-bottom: 5px;
  font-size: 14px;
  font-family: rale;
}

.datos-contacto li i {
  color: #85c34a;
  font-size: 55px;
  padding-top: 15px;
}

footer {
  clear: both;
  margin-top: 50px;
  background: #000;
  color: #85c34a;
  font-size: 12px;
  font-family: rale;
  text-align: center;
  padding: 30px;
}

.limpia {
  clear: both;
}
