@media only screen and (max-width: 420px) {
  #particles-js {
    height: 600px;
    background-attachment: scroll;
  }

  .red {
    display: none;
  }

  header {
    height: 56px;
  }

  .ancho {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .logo {
    width: 50%;
    height: 44px;
    /*text-align: center;*/
    padding: 0 20px;
    margin: 0;
  }

  .logo img {
    height: 44px;
  }

  nav {
    width: 50%;
    padding-top: 12px;
  }

  nav ul li a {
    font-size: 14px;
  }

  /*.slideInUp {
    display: none;
  }*/
  .letras-slider h1 {
    font-size: 32px;
  }

  .letras-slider p {
    font-size: 20px;
    padding-top: 90px;
  }

  .bienvenidos h2 {
    font-size: 26px;
  }

  .bienvenidos h3 {
    font-size: 18px;
  }

  .banner-1 h3 {
    font-size: 24px;
  }

  .columnasx3 {
    width: 100%;
  }

  .banner-2 h3 {
    background-size: auto;
    font-size: 24px;
  }

  .textos {
    padding: 50px 10px;
  }

  .texto-1 img {
    height: 250px;
    /*width: 100%;*/
  }

  .texto-1 h2 {
    font-size: 26px;
  }

  .texto-1 h3 {
    font-size: 18px;
  }

  .tablax4 {
    width: 100%;
  }

  .tablaxd {
    width: 100%;
  }

  /*clases para el formulario*/
  .datos {
    float: left;
    width: 50%;
  }

  .correr {
    width: 100%;
  }
}

@media only screen and (min-width: 421px) and (max-width: 768px) {
  #particles-js {
    background-attachment: scroll;
  }
  .red {
    display: none;
  }

  header {
    height: 64px;
  }

  .ancho {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .logo {
    padding: 0 30px;
    margin: 0;
  }

  .logo img {
    height: 54px;
  }

  nav {
    padding-top: 18;
  }

  nav ul li a {
    font-size: 13px;
  }

  .letras-slider h1 {
    font-size: 62px;
  }

  .letras-slider p {
    font-size: 25px;
    padding-top: 90px;
  }

  .bienvenidos h2 {
    font-size: 30px;
  }

  .bienvenidos h3 {
    font-size: 18px;
  }

  .banner-1 h3 {
    font-size: 28px;
  }

  .columnasx3 {
    width: 100%;
  }

  .banner-2 h3 {
    background-size: auto;
    font-size: 28px;
  }

  .textos {
    padding: 50px 10px;
  }

  .texto-1 img {
    height: 250px;
  }

  .texto-1 h2 {
    font-size: 30px;
  }

  .texto-1 h3 {
    font-size: 18px;
  }

  .dos-columnas {
    float: left;
    width: 50%;
  }

  .datos {
    float: left;
    width: 50%;
  }

  .correr {
    width: 100%;
  }
}

@media only screen and (min-width: 769px) {
  header {
    height: 64px;
  }

  .ancho {
    width: 100%;
  }

  .logo {
    padding: 0 40px;
    margin: 0;
  }

  nav {
    padding-top: 18;
  }

  nav ul li a {
    font-size: 13px;
  }

  .textos {
    padding: 50px 10px;
  }

  .texto-1 img {
    height: 250px;
  }

  .texto-1 h2 {
    font-size: 30px;
  }

  .texto-1 h3 {
    font-size: 18px;
  }

  .dos-columnas {
    float: left;
    width: 100%;
  }

  .formulario {
    float: left;
    width: 50%;
  }

  .datos {
    float: left;
    width: 25%;
  }

  .correr {
    width: 100%;
  }
}
