* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  /* background: #1abc9c;*/
  /*poner trasparencia*/
  background: rgba(0, 0, 0, 0.6);
  /* anch del header */
  height: 80px;
  /*el contenedor header se queda fijo*/
  position: fixed;
  z-index: 10;
}

/* modificacion del acnho */
.ancho {
  width: 84%;
  height: 80px;
  margin: auto;
}

.logo {
  width: 30%;
  height: 80px;
  float: left;
  box-sizing: border-box;
}

.logo img {
  padding-top: 14px;
  height: 64px;
}

.ver-menu,
.ocultar-menu {
  color: #ccc;
  transition: 0.3s;
  font-size: 30px;
  display: none;
  cursor: pointer;
}

.ver-menu:hover,
.ocultar-menu:hover {
  color: #5bb9c6;
}

.ver-menu {
  float: right;
}

.ver-menu i {
  padding-top: 14px;
  padding-right: 14px;
}

#chk {
  position: absolute;
  visibility: hidden;
  z-index: -100;
}

nav {
  width: 70%;
  height: 80px;
  float: right;
  text-align: right;
  padding-top: 32px;
  padding-right: 110px;
  box-sizing: border-box;
  z-index: 20;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #ccc;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: rale;
  transition: 0.3s;
  z-index: 30;
}

nav ul li a:hover {
  color: #5bb9c6;
}

@font-face {
  font-family: rale;
  src: url(../fonts/Raleway-Regular.ttf);
}

.modal {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}

.inp-modal {
  float: right;
}

.lbl-modal {
  position: absolute;
  right: 80px;
  top: 24px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

#btn-modal:checked ~ .modal {
  opacity: 1;
  visibility: visible;
}

.contenedor-m {
  width: 500px;
  height: 400px;
  margin: auto;
  padding: 15px 15px;
  background: #fff;
  box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
  transition: all 500ms ease;
  position: relative;
  transform: translateY(-30%);
}

#btn-modal:checked ~ .modal .contenedor-m {
  transform: translateY(0%);
}

.contenedor-m .titulo-m {
  padding: 10px;
  background: #5bb9c6;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.contenedor-m label {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  font-family: rale;
  font-weight: bold;
  text-transform: uppercase;
}

#btn-modal {
  display: none;
}

.lbl-modal {
  font-family: rale;
  background: rgb(255, 217, 0);
  padding: 10px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.form-main {
  width: 100%;
  background: #f9f9f9;
  height: 80px;
}

.suscribe {
  font-family: rale;
  width: 70%;
  margin: auto;
  padding: 1em, 1.5em;
  box-sizing: border-box;
}

.img-suscribe {
  /*width: 30%;*/
  height: 80px;
  float: left;
  box-sizing: border-box;
}

.img-suscribe {
  padding-top: 14px;
  height: 64px;
}

.lateral {
  float: left;
  width: 30%;
  /* background-color: #ddd; */
  margin: auto;
  padding: 1em, 1.5em;
}

.lateral ul li {
  display: block;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-suscribe {
  float: left;
  width: 60%;
  margin: auto;
  padding: 1em, 1.5em;
}

.a-suscribe {
  float: right;
  color: #fff;
  font-family: rale;
  font-weight: bold;
  background: #03989e;
  padding: 10px 10px;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
}
