* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  /* background: #1abc9c;*/
  /*poner trasparencia*/
  background: rgba(0, 0, 0, 0.6);
  /* anch del header */
  height: 80px;
  /*el contenedor header se queda fijo*/
  position: fixed;
  z-index: 10;
}

/* modificacion del acnho */
.ancho {
  width: 84%;
  height: 80px;
  margin: auto;
}

.logo {
  width: 30%;
  height: 80px;
  float: left;
  box-sizing: border-box;
}

.logo img {
  padding-top: 14px;
  height: 64px;
}

.ver-menu,
.ocultar-menu {
  color: #ccc;
  transition: 0.3s;
  font-size: 30px;
  display: none;
  cursor: pointer;
}

.ver-menu:hover,
.ocultar-menu:hover {
  color: #5bb9c6;
}

.ver-menu {
  float: right;
}

.ver-menu i {
  padding-top: 14px;
  padding-right: 14px;
}

#chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}
nav {
  width: 70%;
  height: 80px;
  float: right;
  text-align: right;
  padding-top: 32px;
  box-sizing: border-box;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #ccc;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: rale;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #5bb9c6;
}

@font-face {
  font-family: rale;
  src: url(../fonts/Raleway-Regular.ttf);
}
